extends ./template/layout.pug
	
	
block custom_header
	// --------------- Header -------------- //
	script(type='text/javascript').
		$(document).ready(function(){

		});
		
		
block navpanel
	// --------------- Navigation Bar  -------------- //
	include ./template/nav.pug
	
	
block content
	// --------------- Main Stuff  -------------- //
	#notificationWrap
	
	#contentPanel
		
		// --------------- Welcome Panel
		#welcomePanel
			h2(style="font-weight: 600;") WELCOME TO THE Morgan Stanley DEMO APP

			#adminText
				span Hello again 
				span admin !

			p 
				span This application allows you to simulate a simple asset transaction over a Hyperledger Fabric blockchain.  
				span You can connect multiple peers to manage workflow data. 
				 
			
			
			br
			br

			p 
				span For more information, please visit our 
				a(href="https://github.com/YvesHarrison/marbles") GitHub
				span.


		// --------------- Login Panel
		form#loginPanel(method="POST" action="#")
			p Enter
			hr
			input(type="text" placeholder="username" value="admin" name="username")
			button(type="submit") Login
